

    <h2>Leave Application Form</h2>
    <form method="post" onsubmit="return confirmSubmit()">
        {% csrf_token %}
        {{ forms.as_p }}
        <button type="submit">Submit Application</button>
    </form>

    <script>
        function confirmSubmit() {
            if (confirm("Are you sure you want to submit this leave application?")) {
                alert("Your application was submitted successfully!");
                return true;
            }
            return false;
        }
    </script>


